@import "tailwindcss";





/* swiper dots  */
.swiper-pagination {
  position: absolute !important;
  bottom: 0px !important;
  text-align: center;
  width: 100%;
  z-index: 10;
}

.swiper-pagination-bullet {
  background-color: #693d17c5 !important;
  opacity: 1 !important;
  width: 14px !important;
  height: 14px !important;
  margin: 0 6px !important;
  transition: background 0.3s ease;
  
  clip-path: polygon(
    50% 0%,   /* Top */
    100% 50%, /* Right */
    50% 100%, /* Bottom */
    0% 50%    /* Left */
  );
}

.swiper-pagination-bullet-active {
  background-color: #bd9f85c4 !important;
  transform: scale(1.1);
}
